* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100vh;
    /* background-image: url("./images/Krew.png") !important; */
}



.Login h2 {
    color:blue;

}

.Login {
    display:flex;
    justify-content:center
}

body {
    text-align: center;
}
form {
    display: inline-block;
}




