* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}



.Login h2 {
    color:black;

}

.Login {
    display: flex;
    flex-direction: row;
    background-color: moccasin; 
    justify-content: space-around;
    align-Items: center;
    width: 100%;
    height: 92%;
} 

.dataForm {
    display: flex;
    flex-direction: column;
    align-Items: center;
    justify-content: center;
    width: 35%;
    height: 60%;
    border-style: solid;
    border-color: skyblue;
    border-radius: 8px;
}

.Title {
    display: flex;
    text-align: center;
    font-size: 40pt;
    justify-content: center;
    margin: auto;
    border-radius: 8px;
    background-color: skyblue;
    align-items: center;
    width: 50%;
    margin-top: 15px;
}

.inputValue {
    display: flex;
    width: 45%;
    text-align: center;
    font-size: 25pt;
    margin: 15px auto 15px;
}

.giveData {
    display: flex;
    width: 50%;
    text-align: center;
    font-size: 25pt;
    align-items: center;
    justify-content: center;
    background-color: orange;
    margin-bottom: 15px;
}
